<!DOCTYPE html>
<html>
<head>
  <title>Peak Home Automation</title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">

  <script type="text/template" id="inner-navbar-tmpl">
		<% if(user){ %>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href=""><%= user.username %> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="">Logout <i class="icon-remove icon-white pull-right"></i></a></li>
        </ul>
			</li>
		<% }else{ %>
			<li><a href="/signup">Sign Up</a></li>
			<li class="divider-vertical"></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Login <b class="caret"></b></a>
				<div class="dropdown-menu">
        </div>
			</li>
		<% } %>
  </script>

  <script type="text/template" id="home-tmpl">
    <div class="container">
      <h2>Hello World!</h2>
    </div>
  </script>

  <script type="text/template" id="media-tmpl">
    <div class="container">
      <h2>Volume Test</h2>
      <div id="zones" class="row"><% zones %></div>
    </div>
  </script>
  
  <script type="text/template" id="volume-tmpl">
    <div class="span3">
      <h5><%= z.name %></h5>
      <div id="slider-<%= z.zone %>"></div>
      <br>
      <b id="volume-<%= z.zone %>"><%= z.volume %></b>
    </div>
    
    <script type="text/javascript">
      //Activate zone's volume slider
      $('#slider-'+z.zone).slider({ value:z.volume, min:0, max:100, step:1, orientation:'vertical',
        change:function(evt, ui){
          var volume = ui.value;
          if(isNaN(volume)) return;
                  
          //Update view with value
          $('#value'+z.zone).html(volume);
                  
          //Perform action with API
          $.ajax({
            url:'http://'+host+'/api/audio/'+z.zone,
            type:'post',
            dataType:'json',
            data:{ volume:volume }
          });
        },
  
        slide:function(evt, ui){
          $('#volume-'+z.zone).html(ui.value);
        }
      });
    </script>
  </script>
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container content-navbar">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
				<a class="brand" href="#">Peak</a>
				<div class="nav-collapse collapse" id="main-menu">
			  	<ul class="nav" id="main-menu-left"></ul>
					<ul class="nav pull-right" id="main-menu-right"></ul>
	    	</div>
			</div>
		</div>
	</div>
  
  <div id="content"></div>
  

  <script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/jquery-ui.min.js" type="text/javascript"></script>
  <script src="js/underscore.min.js" type="text/javascript"></script>
  <script src="js/backbone.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/jquery.cookie.js" type="text/javascript"></script>
  <script src="js/app.js" type="text/javascript"></script>
</body>
</html>